<mat-card class="employee">
  <mat-card-header>
    <mat-card-title>{{employee.lastName}}, {{employee.firstName}}</mat-card-title>
    <mat-card-subtitle>{{employee.id}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dt>Job Title</dt>
      <dd>{{employee.position}}</dd>
	  <dt>Total Number of Reports</dt>
	  <dd>{{totalReports}}</dd>
    </dl>
  </mat-card-content>
</mat-card>
